# Bonus: Temperature Analysis I

In [69]:
import pandas as pd
from datetime import datetime as dt
from scipy.stats import ttest_rel

In [25]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [26]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [64]:
# Set the date column as the DataFrame index
df.set_index('date')

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [ ]:
# Drop the date column ??

### Compare June and December data across all years

In [20]:
from scipy import stats

In [ ]:
# Filter data for desired months

In [65]:
# Identify the average temperature for June
jun_avg_temp = (df[df['date'].dt.month == 6])['tobs'].mean()
jun_avg_temp

74.94411764705882

In [66]:
# Identify the average temperature for December
dec_avg_temp = (df[df['date'].dt.month == 12])['tobs'].mean()
dec_avg_temp

71.04152933421226

In [94]:
# Create collections of temperature data
jun_temps = (df[df['date'].dt.month == 6])
jun_temps['tobs']

133      78
134      76
135      78
136      76
137      77
         ..
19492    79
19493    74
19494    74
19495    76
19496    75
Name: tobs, Length: 1700, dtype: int64

In [95]:
dec_temps = (df[df['date'].dt.month == 12])
dec_temps['tobs']

305      76
306      74
307      74
308      64
309      64
         ..
19323    71
19324    71
19325    69
19326    65
19327    65
Name: tobs, Length: 1517, dtype: int64

In [93]:
# Run paired t-test
stats.ttest_rel(jun_temp_df, dec_temp_df)

ValueError: unequal length arrays

### Analysis